@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;
@{
    ViewData["Title"] = "Index";
}

<body>
	<link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
		<div class = "Greetings">
		<h1> Добро пожаловать, @Model.doctor.surname @Model.doctor.name @Model.doctor.thirdname</h1>
	</div>
	<div class = "mypatients">
	  <input type="submit" class = "mainbutton" value = "Мои пациенты">

	</div>
	<div class = "schedule">
			<input type="submit" class = "mainbutton" value = "Моё расписание">
	</div>
	<div class = "mypage">
			<input type="submit" class = "mainbutton" value = "Личный кабинет">
	</div>
</body>
<div>Здравствуйте, дорогой(ая) @Model.doctor.surname @Model.doctor.name @Model.doctor.thirdname!!!</div>
