@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;
@{
}
<div>Мои Пациенты</div>
<table class=" = table">
	<thead>
		<tr>
			<th>
				<th>Имя</th>
			<th>Фамилия</th>
			<th>Отчество</th>
			<th>Палата</th>
			<th>Рейтинг Буйности</th>
			</th>
		</tr>
		<tbody>
			@foreach(Patient patient in Model.patients)
			{
				<tr>
					<td>
						@patient.name
					</td>
				<td>
					@patient.surname
				</td>
				<td>
					@patient.thirdname
				</td>
				<td>
					@patient.chamber.type
				</td>
					<td>
						@patient.rating
					</td>
					<td>
						<form asp-action="PatientDiagnoses" method ="get">
							<input asp-for="patient.id" style="visibility:hidden" readonly = "true", value="@patient.id", type="text"/>
						    <input name="button" type="submit" value= "посмотреть диагнозы" />
                        </form>
					</td>

				</tr>
			}
		</tbody>
	</thead>
</table>
