@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;
@{
	Layout = null;
}
<body>
<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true" />
<div class = "navbar">
	<div class = "navbarlogo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
	<a>ШизУслуги</a>
	</div>
		<div class = "button1">
		<a class = "buttontext">Главная</a>
	</div>
	<div class = "button2">
		<a class = "buttontext">Расписание</a>
	</div>
	<div class = "button3">
		<a class = "buttontext">Мои пациенты</a>
	</div>
	<div class = "mypagenavlink">
	<a>Личный кабинет</a>
	</div>
</div>
<a class ="backbutton">&lt;-Назад</a>
<p class = "Header">Мои пациенты</p>
<table class = "table">
	<thead>
		<th>Имя</th>
		<th>Фамилия</th>
		<th>Отчество</th>
		<th>Палата</th>
		<th>Рейтинг Буйности</th>
		<th>Диагнозы</th>
		<tbody>
			@foreach(Patient patient in Model.patients)
			{
				<tr>
					<td>
						@patient.name
					</td>
				<td>
					@patient.surname
				</td>
				<td>
					@patient.thirdname
				</td>
				<td>
					@patient.chamber.type
				</td>
					<td>
						@patient.rating
					</td>
					<td>
						<div class = "checkdiagnosisbutton">
						<form asp-action="PatientDiagnoses" method ="get">
							<input class = "kostil" asp-for="patient.id" style="visibility:hidden" readonly = "true", value="@patient.id", type="text"/>
						    <input name="button" type="submit" value= "посмотреть диагнозы" />
                        </form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</thead>
</table>
</body>
