@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;
<div>диагнозы @Model.patient.name</div>
<table class=" = table">
	<thead>
		<tr>
			<th>
			<th>Имя</th>
			<th>Тяжесть</th>
			<th>Описание</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Diagnosis diagnosis in Model.diagnosis)
		{
			<tr>
				<td>
					@diagnosis.name
				</td>
				<td>
					@diagnosis.severeness
				</td>
				<td>
					@diagnosis.description
				</td>
				<td>
					<form asp-action="DeletePatientDiagnoses" method="post">
						<input asp-for="singlediagnosis.id" style="visibility:hidden" readonly="true" value="@diagnosis.id" type="text" />
						<input asp-for="patient.id" style="visibility:hidden" readonly="true" value="@Model.patient.id" type="text" />
						<input name = "button" type="submit" value="удалить диагноз" />
					</form>
				</td>
			</tr>
		}
	</tbody>

</table>
