@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;
@{
	Layout = null;
}
<body>
<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true"? />
<div class = "navbar">
	<div class = "navbarlogo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
	<a>ШизУслуги</a>
	</div>
		<div class = "button1">
		<a asp-action = "Index" class = "buttontext">Главная</a>
	</div>
	<div class = "button2">
		<a asp-action="MySchedule" class = "buttontext">Расписание</a>
	</div>
	<div class = "button3">
		<a asp-action = "MyPatients"class = "buttontext">Мои пациенты</a>
	</div>
	<div class = "mypagenavlink">
	<a asp-action="PersonalCab">Личный кабинет</a>
	</div>
</div>
<a asp-action = "MyPatients" class ="backbutton">&lt;-Назад</a>
<p class = "Header">диагнозы @Model.patient.name</p>
<form asp-action="AddPatientDiagnoses" method="post">
<select asp-for="singlediagnosis.id" >
	@foreach(Diagnosis diagnosis in StaticStuff.alldiagnoses)
		{
		<option value = "@diagnosis.id">
			@diagnosis.name
		</option>
	}
	<input name="button" type="submit" value="добавить диагноз" />
</select>
	<input asp-for="patient.id" style="visibility:hidden" readonly="true" value="@Model.patient.id" type="text" />
</form>
@if (Model.hasDiagnosis)
{
	<p>У пациента уже есть такой диагноз!</p>
}
<table class="table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Тяжесть</th>
			<th>Описание</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Diagnosis diagnosis in Model.diagnosis)
		{
			<tr>
				<td>
					@diagnosis.name
				</td>
				<td>
					@diagnosis.severeness
				</td>
				<td>
					@diagnosis.description
				</td>
				<td>
					<form asp-action="DeletePatientDiagnoses" method="post">
						<input asp-for="singlediagnosis.id" style="visibility:hidden" readonly="true" value="@diagnosis.id" type="text" />
						<input asp-for="patient.id" style="visibility:hidden" readonly="true" value="@Model.patient.id" type="text" />
						<input name = "button" type="submit" value="удалить диагноз" />
					</form>
				</td>
			</tr>
		}
	</tbody>

</table>
</body>
