@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;
<p>
	@Model.patient.name проживает в палате номер @Model.chamber.id типа @Model.chamber.type вместимостью @Model.chamber.capacity человек.
</p>
<p class="Header">Cоседи по палате:</p>
<table class="table">
	<thead>
	<th>Имя</th>
	<th>Фамилия</th>
	<th>Отчество</th>
	<th>Рейтинг Буйности</th>
	<tbody>
			@foreach (Patient patient in Model.patients)
			{
			<tr>
				<td>
						@patient.name
				</td>
				<td>
						@patient.surname
				</td>
				<td>
						@patient.thirdname
				</td>
				<td>
						@patient.rating
				</td>
			</tr>
			}
	</tbody>
	</thead>
</table>