@using ShizUslugi.ViewModels; 
@model AllPatientViewModel;
@{
	Layout = null;
}
<body>
<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true" />
	<div class = "navbar">
	<div class = "navbarlogo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
	<a>ШизУслуги</a>
	</div>
		<div class = "button1">
		<a asp-action="Index" class = "buttontext">Главная</a>
	</div>
	<div class = "button2">
		<a asp-action="MySchedule" class = "buttontext">Расписание</a>
	</div>
	<div class = "button3">
		<a asp-action="MyDoctors"class = "buttontext">Мои врачи</a>
	</div>
		<div class = "button4">
		<a asp-action="MyDiagnoses" class = "buttontext">Мои диагнозы</a>
	</div>
			<div class = "button5">
		<a asp-action = "MyChamber"class = "buttontext">Моя палата</a>
	</div>
	</div>
<a asp-action = "Index"class ="backbutton">&lt;-Назад</a>
<p class = "info">
    Вы проживаете в палате номер @Model.chamber.id типа @Model.chamber.type вместимостью @Model.chamber.capacity человек.
</p>
<p class="Header">Мои соседи по палате:</p>
<table class="table">
	<thead>
	<th>Имя</th>
	<th>Фамилия</th>
	<th>Отчество</th>
	<th>Рейтинг Буйности</th>
	<tbody>
			@foreach (Patient patient in Model.patients)
			{
			<tr>
				<td>
						@patient.name
				</td>
				<td>
						@patient.surname
				</td>
				<td>
						@patient.thirdname
				</td>
				<td>
						@patient.rating
				</td>
			</tr>
			}
	</tbody>
	</thead>
</table>
</body>