@using ShizUslugi.ViewModels;
@model AllPatientViewModel;
@{
	Layout = null;
}
<body>
<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true" />
<div class = "navbar">
	<div class = "navbarlogo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
	<a>ШизУслуги</a>
	</div>
		<div class = "button1">
		<a class = "buttontext">Главная</a>
	</div>
	<div class = "button2">
		<a class = "buttontext">Расписание</a>
	</div>
	<div class = "button3">
		<a class = "buttontext">Мои врачи</a>
	</div>
	<div class = "mypagenavlink">
	<a>Личный кабинет</a>
	</div>
</div>
<a class ="backbutton">&lt;-Назад</a>
<p class = "Header">Мои врачи</p>
<table class="table">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Фамилия</th>
			<th>Отчество</th>
			<th>Специализация</th>
			<th>Номер кабинета</th>
			<th>Телефон</th>
		</tr>
	<tbody>
			@foreach (Doctor doctor in Model.Doctors)
			{
			<tr>
				<td>
						@doctor.name
				</td>
				<td>
						@doctor.surname
				</td>
				<td>
						@doctor.thirdname
				</td>
				<td>
						@doctor.specialization
				</td>
				<td>
						@doctor.cabinetnumber
				</td>
				<td>
					   @doctor.phonenumber
				</td>
			</tr>
			}
	</tbody>
	</thead>
</table>
</body>