@using ShizUslugi.ViewModels;
@model AllAdminViewModel;
@{
	Layout = null;
}
<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true" />
<body>
	<div class = "navbar">
	<div class = "navbarlogo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
	<a>ШизУслуги</a>
	</div>
		<div class = "button1">
		<a asp-action="Index" class = "buttontext">Главная</a>
	</div>
	<div class = "button2">
		<a asp-action = "MySchedule"class = "buttontext">Расписание</a>
	</div>
	<div class = "button3">
		<a asp-action = "Patients" class = "buttontext">Пациенты</a>
	</div>
	<div class = "button4">
		<a asp-action="Doctors" class = "buttontext">Врачи</a>
	</div>
	<div class = "mypagenavlink">
	<a asp-action="PersonalCab">Личный кабинет</a>
	</div>
</div>
<a asp-action = "MyPatients" class ="backbutton">&lt;-Назад</a>
<div class = "Greetings">
		<h1> Пациенты врача @Model.doctor.surname @Model.doctor.name @Model.doctor.thirdname</h1>
	</div>
@if (Model.HasPatient)
{
	<p>У врача уже назначен этот пациент!</p>
}
<form asp-action="AddPatientDoctor" method="post">
<select class = "newpatientfield" asp-for="patient.id">
	@foreach(Patient patient in Model.allpatients)
	{
		<option value="@patient.id">@patient.surname @patient.name[0]. @if(patient.thirdname!=null){<p>@patient.thirdname[0].</p>}</option>
	}
</select>
<input class="kostil" asp-for="doctor.id" style="visibility:hidden" readonly="true" , value="@Model.doctor.id" , type="text" />
<input class = "loginbutton" name="button" type="submit" value="назначить врачу пациента" />
</form>
<table class = "table">
<thead>
	<th>Имя</th>
	<th>Фамилия</th>
	<th>Отчество</th>
	<th>Палата</th>
	<th>Рейтинг Буйности</th>
	<th>Диагнозы</th>
	<tbody>
		@foreach (Patient patient in Model.patients)
		{
			<tr>
				<td>
					@patient.name
				</td>
				<td>
					@patient.surname
				</td>
				<td>
					@patient.thirdname
				</td>
				<td>
					<form asp-controller="Doctor" asp-action="PatientChamber" method="get">
						<input class="kostil" asp-for="patient.id" style="visibility:hidden" readonly="true" , value="@patient.id" , type="text" />
						<input name="button" type="submit" value="@patient.chamber.type" />
					</form>
				</td>
				<td>
					@patient.rating
				</td>
				<td>
					<div class="checkdiagnosisbutton">
						<form asp-controller="Doctor" asp-action="PatientDiagnoses" method="get">
							<input class="kostil" asp-for="patient.id" style="visibility:hidden" readonly="true" , value="@patient.id" , type="text" />
							<input name="button" type="submit" value="посмотреть диагнозы" />
						</form>
					</div>
				</td>
				<td>
					<div>
						<form asp-action="DeletePatientDoctor" method="post">
							<input class="kostil" asp-for="doctor.id" style="visibility:hidden" readonly="true" , value="@Model.doctor.id" , type="text" />
							<input class="kostil" asp-for="patient.id" style="visibility:hidden" readonly="true" , value="@patient.id" , type="text" />
							<input name="button" type="submit" value="отвязать пациента" />
						</form>
					</div>
				</td>
			</tr>
		}
	</tbody>
</thead>
</table>
</body>