@using ShizUslugi.ViewModels;
@model AllAdminViewModel;
@{
	Layout = null;
}
<body>
	<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true" />
	<div class = "navbar">
		<div class = "navbarlogo">
		<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
		<a>ШизУслуги</a>
		</div>
			<div class = "button1">
			<a asp-action="Index" class = "buttontext">Главная</a>
		</div>
		<div class = "button2">
			<a asp-action = "MySchedule"class = "buttontext">Расписание</a>
		</div>
		<div class = "button3">
			<a asp-action = "Patients" class = "buttontext">Пациенты</a>
		</div>
		<div class = "button4">
		<a asp-action="Doctors" class = "buttontext">Врачи</a>
		</div>
		<div class = "mypagenavlink">
		<a asp-action="PersonalCab">Личный кабинет</a>
		</div>
	</div>
	<a asp-action = "MyPatients" class ="backbutton">&lt;-Назад</a>
	<div>
		@if (Model.IsInputActivate)
		{
			<form asp-action="Patients" method="post">
						<input class = "newpatientfield" asp-for= "patient.name" type="text" placeholder ="Имя"/>
						<input class = "newpatientfield" asp-for="patient.surname" type="text" placeholder ="Фамилия"/>
						<input class = "newpatientfield" asp-for="patient.thirdname" type="text" placeholder = "Отчество (при наличии)"/>
						<input class = "newpatientfield" asp-for="patient.rating" type="number" placeholder ="Рейтинг"/>
						<input class = "newpatientfield" asp-for = "account.login"type= "text" placeholder ="Логин"/> 
						<input class = "newpatientfield" asp-for = "account.password" type="text" placeholder ="Пароль"/>
						Палата:
							<select class = "newpatientfield" asp-for="patient.chamberid">
						@foreach (Chamber chamber in Model.chambers)
						{
								<option value = "@chamber.id">@chamber.type</option>
						}
						</select>
				  <input class = "loginbutton" type = "submit" name="button" value="добавить"/>
			</form>
		}
		else
		{
			<form asp-action="AddPatient">
					<input class = "loginbuttonwide" type="submit" name="button" value="добавить в базу нового пациента" />
			</form>
		}
	</div>
	@if (Model.IsChamberOverfilled)
	{
		<p>Палата переполнена</p>
	}
	@if (Model.IsUserExisting)
	{
		<div>Логин @Model.account.login уже занят</div>
	}
	@if (Model.IsFieldOverfilled)
	{
		<div>Превышен размер поля "@Model.FieldName"</div>
	}
	@if (Model.IsFieldEmpty)
	{
		<div>Поле "@Model.FieldName" не должно быть пустым</div>
	}
	<table class = "table">
	<thead>
		<th>Имя</th>
		<th>Фамилия</th>
		<th>Отчество</th>
		<th>Палата</th>
		<th>Рейтинг Буйности</th>
		<th>Диагнозы</th>
		<th>Параметры</th>
		<tbody>
			@foreach(Patient patient in Model.patients)
			{
				<tr>
					<form asp-action="PatientsEditSubmit" method="post">
					<td>
							@if(Model.IsEdit && patient.id == Model.patient.id)
							{
								<input asp-for="patient.name" type = "text" value="@patient.name"/>
							}
							else
							@patient.name
					</td>
				<td>
							@if (Model.IsEdit && patient.id == Model.patient.id)
							{
							<input asp-for="patient.surname" type="text" value="@patient.surname" />
							}
							else
					@patient.surname
				</td>
				<td>
							@if (Model.IsEdit && patient.id == Model.patient.id)
							{
							<input asp-for="patient.thirdname" type="text" value="@patient.thirdname" />
							}
							else
					@patient.thirdname
				</td>
				<td>
							@if(Model.IsEdit && patient.id == Model.patient.id)
							{
								<select asp-for = "patient.chamberid">
									@foreach (Chamber chamber in Model.chambers)
									{
											if(chamber.id == Model.patient.chamberid)
											{
										    <option value="@chamber.id" selected>
											@chamber.type
										    </option>
											}
											else{
											<option value ="@chamber.id">
											@chamber.type
										    </option>
											}
									}
								</select>
							}
							else{
							<form asp-action="Index"><input name="button" type="submit" style="visibility:hidden" class="kostil" /></form>
							<form asp-controller="Doctor"asp-action="PatientChamber" method="get">
							<input asp-for="patient.id" class="kostil"  style="visibility:hidden" readonly="true" , value="@patient.id" , type="text" />
							<input name="button" type="submit" value="@patient.chamber.type" />
					        </form>
							}
				</td>
					<td>
							@if (Model.IsEdit && patient.id == Model.patient.id)
							{
								<input asp-for ="patient.rating" type = "number" value="@patient.rating" />
							}
							else
							@patient.rating
					</td>
					<td>
							@if (Model.IsEdit && patient.id == Model.patient.id)
							{
							<p>Посмотреть диагнозы</p>
							}
							else{
								<div class = "checkdiagnosisbutton">
						<form  asp-controller="Doctor" asp-action="PatientDiagnoses" method ="get">
							<input asp-for="patient.id" class = "kostil" style="visibility:hidden" readonly = "true", value="@patient.id", type="text"/>
						    <input name="button" type="submit" value= "посмотреть диагнозы" />
                        </form>
						</div>
						}
					</td>
						<td>
							@if (Model.IsEdit && patient.id == Model.patient.id)
							{
							    <input asp-for = "patient.id" class = "kostil" style="visibility:hidden" readonly = "true", value="@patient.id", type="text"/>
								<input name="button" type="submit" value="сохранить" />
							}
							else
							{
								<div class = "changeparametersbutton">
									<form asp-action="PatientsEdit" method ="get">
										<input asp-for = "patient.id" class = "kostil" style="visibility:hidden" readonly = "true", value="@patient.id", type="text"/>
										<input name="button" type="submit" value= "изменить" />
									</form>
								</div>
							}
						</td>
					</form>
				</tr>
			}
		</tbody>
	</thead>
</table>
</body>